<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <main>
      <div id="menu_bar">
         <a href="/">
             <button type="button">Home</button>
         </a>
         <a href="/resources">
             <button type="button">Resources</button>
         </a>
         <a href="/rewards">
            <button type="button">Rewards</button>
         </a>
         <a href="/help">
            <button type="button">?</button>
         </a>
     </div>
   </main>

   <!-- Centered heading -->
   <h1>Help Page</h1>

</body>
</html>
