<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Home Page</title>
</head>
<body>
    <main>
        <div id="menu_bar">
            <a href="/">
                <button type="button" class="home-button">
                    <img src="/static/images/logo.png" alt="Home Logo" class="home-logo">
                </button>
            </a>
            <a href="/resources">
                <button type="button">Resources</button>
            </a>
            <a href="/rewards">
               <button type="button">Rewards</button>
            </a>
            <a href="/help">
               <button type="button" class="help">?</button>
            </a>
        </div>
    </main>

        <!-- Table for daily health goals -->
        <div class="row">
            <div class="column">
                <table>
                    <caption id="healthGoalsCaption">Your Daily Health Goals</caption>
                    <div class="progress-container">
                        <div class="progress-bar" id="progress-bar"></div>
                    </div>
                    <tr>
                        <td>
                            <input type="checkbox" id="goal1" data-points="3">
                            <label for="goal1" class="healthGoals">Eat a balanced meal</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="goal2" data-points="5">
                            <label for="goal2" class="healthGoals">Go for a 30 minute walk</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="goal3" data-points="3">
                            <label for="goal3" class="healthGoals">Visit a local park</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="goal4" data-points="3">
                            <label for="goal4" class="healthGoals">Play a sport</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="goal5" data-points="3">
                            <label for="goal5" class="healthGoals">Go to a farmer's market</label>
                        </td>
                    </tr>
                </table>
                <h3>Your Points: <span id="points">20</span></h3>
            </div>
            <div class="column">
                <div class="activity-buttons">
                        <h1>Activities for You</h1>
                        <div class="button-container">
                            <div class="button-group">
                                <button onclick="window.location.href='https://www.wndrmuseum.com'" class="large-button">
                                    <img src="https://wndrmuseum.com/wp-content/uploads/2022/10/insideout_2.jpg" alt="Museums" class="featured-image">
                                    <h4 class="featured-title">WNDR Museum</h4> <!-- Title added -->
                                    <p class="featured-description">A world of imagination and interactive exhibits.</p> <!-- Description added -->
                                </button>
                                <div class="small-buttons">
                                    <button onclick="window.location.href='https://sandiegomuseumcouncil.org/museums/'" class="small-button">Museums and Exhibits</button>
                                </div>
                            </div>
                            <div class="button-group">
                                <button onclick="window.location.href='https://lafresheria.appfront.app/'" class="large-button">
                                    <img src="https://lh3.googleusercontent.com/p/AF1QipPLKi_V7JL_xTvb41Zne54J5YWJQu3hpujav8Kk=s1360-w1360-h1020" 
                                    alt="Restaurants" class="featured-image">
                                    <h4 class="featured-title">Fresheria</h4> <!-- Title added -->
                                    <p class="featured-description">Colorful standby with a cafe menu featuring breakfast plates, sandwiches, salads & fruit smoothies.</p> <!-- Description added -->
                                </button>
                                <div class="small-buttons">
                                    <button onclick="window.location.href='https://www.realcaliforniamilk.com/recipes/?occasion=healthier&gad_source=1&gclid=Cj0KCQjwyL24BhCtARIsALo0fSCZre23G7aUdYBBvjaa3Fqm_QX8lIj-6z4RtqTxnYRTokeDpO7KqJ8aAqjLEALw_wcB&gclsrc=aw.ds'" class="small-button">Restaurants and Recipes</button>
                                </div>
                            </div>
                            <div class="button-group">
                                <button onclick="window.location.href='https://hillcrestfarmersmarket.com/'" class="large-button">
                                    <img src="https://images.squarespace-cdn.com/content/v1/5f6a38e030d44a75d8fb9018/1603681042658-RQM5PGBAZETL6U2A0K3F/88079455_3633844876688862_7411007438372995072_n.jpg" 
                                    alt="Outdoor Events" class="featured-image">
                                    <h4 class="featured-title">Hillcrest Farmer's Market</h4> <!-- Title added -->
                                    <p class="featured-description">This farmer's market in Hillcrest offers an array of groceries and goodies.</p> <!-- Description added -->
                                </button>
                                <div class="small-buttons">
                                    <button onclick="window.location.href='https://www.sandiego.gov/events/calendar'" class="small-button">Outdoor Events</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <div id="last">
            <div id="lowerPart">
                <div>
                    <!-- Search bar for zip code -->
                    <div class="search-container">
                        <form action="/search" method="POST">
                            <h4>Enter a Zip Code to see Outdoor Activites Near You</h4>
                            <input type="text" class="search-input" name="query" placeholder="Enter a Zip Code" required>
                            <button type="submit" class="search-button">Go!</button>
                        </form>
                    
                        <!-- Display the "Activities near" text next to the search bar -->
                        {% if results %}
                            <h3><span class="results-text">Activities near {{ query }}</span></h3>
                        {% endif %}
                    </div>
                </div>
                <div id="musicPlayer">
                    <!--Music with pause-play-reset functions-->
                    <button onclick="playVideo()" type="button" class"musicButtons">
                        <img src="{{ url_for('static', filename='images/play.png') }}" class="icon" alt= "play" width="60px" height="60px">
                    </button>
                    <button onclick="pauseVideo()" type="button" class"musicButtons"> 
                        <img src="{{ url_for('static', filename='images/pause.png') }}" class="icon" alt= "pause" width="60px" height="60px">
                    </button>
                    <video id="chillMusic" width="5" height="5">
                        <source src="https://vgmsite.com/soundtracks/super-mario-64-soundtrack/abxhdlweox/36.%20Piranha%20Plant%27s%20Lullaby-Piano.mp3" type="video/mp4">
                    </video>
                </div>
            
            </div>
            
            <div>
                <!-- Map here -->
                <div id="map" style="width: 800; height: 400px; padding-left: 50px; padding-right: 50px; align-items: center;">
                    <iframe src="/map" width="1000" height="400px"></iframe>
                </div>
            </div>
        </div>
        </div>
   </main>
   <script src="static/script.js"></script> <!-- Ensure the script is linked properly -->
</body>
</html>
