<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rewards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="menu_bar">
        <a href="/">
            <button type="button">Home</button>
        </a>
        <a href="/resources">
            <button type="button">Resources</button>
        </a>
        <a href="/rewards">
           <button type="button">Rewards</button>
        </a>
        <button class="/help" type="button">?</button>
    </div>
    <!-- Centered heading -->
    <h1>Resources</h1>

    <div class="button-container">
        <a href="https://www.sharp.com/locations" class="large-btn">Find a Clinic</a>
        <a href="https://www.sharp.com/search/locations?place_type_facet=Pharmacies&v=1" class="large-btn">Pharmacies</a>
        <a href="https://www.sharp.com/doctors" class="large-btn">Doctor Profiles</a>
        <a href="https://www.realcaliforniamilk.com/recipes/?occasion=healthier&gad_source=1&gclid=Cj0KCQjwyL24BhCtARIsALo0fSCZre23G7aUdYBBvjaa3Fqm_QX8lIj-6z4RtqTxnYRTokeDpO7KqJ8aAqjLEALw_wcB&gclsrc=aw.ds" class="large-btn">Food Suggestions</a>
        <a href="https://www.sdbeachinfo.com/" class="large-btn">Water Quality</a>
        <a href="https://www.handsonsandiego.org/calendar" class="large-btn">Community Volunteering</a>
        <a href="/search" class="large-btn">Outdoor Activities</a>
        <a href="https://www.crimemapping.com/" class="large-btn">Crime Stats</a>
    </div>


</body>
</html>
