<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rewards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="menu_bar">
        <a href="/">
            <button type="button">Home</button>
        </a>
        <a href="/resources">
            <button type="button">Resources</button>
        </a>
        <a href="/rewards">
           <button type="button">Rewards</button>
        </a>
        <button class="/help" type="button">?</button>
    </div>
</body>
</html>
