<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Resources</title>
</head>
<body>
    <main>
        <div id="menu_bar">
            <a href="/">
                <button type="button" class="home-button">
                    <img src="/static/images/logo.png" alt="Home Logo" class="home-logo">
                </button>
            </a>
            <a href="/resources">
                <button type="button">Resources</button>
            </a>
            <a href="/rewards">
               <button type="button">Rewards</button>
            </a>
            <a href="/help">
               <button type="button" class="help">?</button>
            </a>
        </div>
    </main>
    <!-- Centered heading -->
    <h1>Resources</h1>

    <div class="button-container">
        <a href="https://www.sharp.com/locations" class="large-btn">
            <img src="{{ url_for('static', filename='images/w_clinic.png') }}" alt="Find a Clinic Icon" class="icon"> Find a Clinic
        </a>
        <a href="https://www.sharp.com/search/locations?place_type_facet=Pharmacies&v=1" class="large-btn">
            <img src="{{ url_for('static', filename='images/w_pharmacy.png') }}" alt="Pharmacy Icon" class="icon"> Pharmacies
        </a>
        <a href="https://www.sharp.com/doctors" class="large-btn">
            <img src="{{ url_for('static', filename='images/w_doctor.png') }}" alt="Doctor Profiles Icon" class="icon"> Doctor Profiles
        </a>
        <a href="https://www.realcaliforniamilk.com/recipes/?occasion=healthier&gad_source=1&gclid=Cj0KCQjwyL24BhCtARIsALo0fSCZre23G7aUdYBBvjaa3Fqm_QX8lIj-6z4RtqTxnYRTokeDpO7KqJ8aAqjLEALw_wcB&gclsrc=aw.ds" class="large-btn">
            <img src="{{ url_for('static', filename='images/w_eat.png') }}" alt="Food Suggestions Icon" class="icon"> Food Suggestions
        </a>
        <a href="https://www.sandiego.gov/public-library" class="large-btn">
            <img src="{{ url_for('static', filename='images/w_library.png') }}" alt="Library Icon" class="icon"> Libraries
        </a>
        <a href="https://www.handsonsandiego.org/calendar" class="large-btn">
            <img src="{{ url_for('static', filename='images/w_volunteer.png') }}" alt="Community Volunteering Icon" class="icon"> Community Volunteering
        </a>
        <a href="/search" class="large-btn">
            <img src="{{ url_for('static', filename='images/w_outdoor.png') }}" alt="Outdoor Activities Icon" class="icon"> Outdoor Activities
        </a>
        <a href="https://www.sdbeachinfo.com/" class="large-btn">
            <img src="{{ url_for('static', filename='images/w_water.png') }}" alt="Water Quality Icon" class="icon"> Water Quality
        </a>
        <a href="https://www.crimemapping.com/" class="large-btn">
            <img src="{{ url_for('static', filename='images/w_crime.png') }}" alt="Crime Stats Icon" class="icon"> Crime Stats
        </a>
    </div>
    
    
</body>
</html>
