<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        <main>
            <div id="menu_bar">
                <a href="/">
                    <button type="button" class="home-button">
                        <img src="/static/images/logo.png" alt="Home Logo" class="home-logo">
                    </button>
                </a>
                <a href="/resources">
                    <button type="button">Resources</button>
                </a>
                <a href="/rewards">
                   <button type="button">Rewards</button>
                </a>
                <a href="/help">
                   <button type="button" class="help">?</button>
                </a>
            </div>
        </main>

    <!-- Centered heading -->
    <h1>Healthy Eating</h1>

     <iframe 
    src="https://www.sandiego.org/explore/things-to-do/arts-culture/museums-galleries.aspx" 
    width="600" 
    height="400" 
    style="border:0;" 
    allowfullscreen>
    </iframe>

   </main>
</body>
</html>
