<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Search Datasets</title>
</head>
<body>
    <!--header bar for website with buttons to direct user to the correct page-->
    <div id="menu_bar">
        <a href="/" class="button">Home</a>
        <a href="/resources" class="button">Resources</a>
        <a href="/rewards" class="button">Rewards</a> <!-- Link to Rewards page -->
        <a href="/help" class="button">?</a>
     </div>
   
</body>
</html>
