<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rewards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="wheel-container">
        <canvas id="wheelCanvas" width="600" height="600"></canvas>
        <button id="spinButton">Spin the Wheel!</button>
        <div id="result-text" class="result-text"></div>
    </div>    

    <script id="prize-data" type="application/json">
        {{ prizes | tojson | safe }}
    </script>

    <!-- Including the external script file where you use the prizeList variable -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!-- Include the main JavaScript file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
